{{ '{%' }} extends "admin/base_site.html" {{ '%}' }}

{{ '{%' }} block messages {{ '%}' }}
  {{ '{%' }} if is_debug {{ '%}' }}
    <ul class="messagelist">
      <li class="warning" style="background-image: none; padding-left: 40px">Development Mode</li>
    </ul>
  {{ '{%' }} endif {{ '%}' }}

  {{ '{{' }} block.super {{ '}}' }}
{{ '{%' }} endblock {{ '%}' }}
