{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Registration Unavailable - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-12">
      <h3 class="mb-4">Registration Unavailable</h3>

      <p>User registration is currently unavailable. If you have an existing account, please <a href="{{ '{%' }} url 'accounts:login' {{ '%}' }}">login</a>.</p>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
