{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load bootstrap4 {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Register - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-12 offset-md-4 col-md-4">
      <h3 class="mb-4">Register Account</h3>

      <form method="POST">
        {{ '{%' }} csrf_token {{ '%}' }}

        {{ '{%' }} bootstrap_form form layout='inline' {{ '%}' }}

        {{ '{%' }} buttons {{ '%}' }}
          <div class="row">
            <div class="col-lg-8">
              <a class="btn btn-link pl-0" href="{{ '{%' }} url 'accounts:login' {{ '%}' }}{{ '{%' }} if next {{ '%}' }}?next={{ '{{' }} next {{ '}}' }}{{ '{%' }} endif {{ '%}' }}">Login to an existing account.</a>
            </div>

            <div class="col-lg-4 text-right">
              <button class="btn btn-primary" type="submit">Register</button>
            </div>
          </div>
        {{ '{%' }} endbuttons {{ '%}' }}
      </form>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
