{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load bootstrap4 {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Login - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-12 text-center text-danger">
    {{ '{%' }} if next {{ '%}' }}
      {{ '{%' }} if user.is_authenticated {{ '%}' }}
        {{ '{%' }} bootstrap_alert "Your account doesn't have access to this page." alert_type='danger' {{ '%}' }}
      {{ '{%' }} else {{ '%}' }}
        {{ '{%' }} bootstrap_alert "Please login to see this page." alert_type='danger' {{ '%}' }}
      {{ '{%' }} endif {{ '%}' }}
    {{ '{%' }} endif {{ '%}' }}
    </div>
  </div>

  <div class="row">
    <div class="col-12 offset-md-4 col-md-4">
      <h3 class="mb-4">Login</h3>

      <form method="POST">
        {{ '{%' }} csrf_token {{ '%}' }}

        {{ '{%' }} bootstrap_form form layout='inline' {{ '%}' }}

        {{ '{%' }} buttons {{ '%}' }}
          <div class="row">
            <div class="col-lg-8">
              <a class="btn btn-link pl-0" href="{{ '{%' }} url 'accounts:password-reset' {{ '%}' }}{{ '{%' }} if next {{ '%}' }}?next={{ '{{' }} next {{ '}}' }}{{ '{%' }} endif {{ '%}' }}">Forgot password.</a>

              {{ '{%' }} if is_registration_open {{ '%}' }}<a class="btn btn-link pl-0" href="{{ '{%' }} url 'django_registration_register' {{ '%}' }}{{ '{%' }} if next {{ '%}' }}?next={{ '{{' }} next {{ '}}' }}{{ '{%' }} endif {{ '%}' }}">Register a new account.</a>{{ '{%' }} endif {{ '%}' }}
            </div>

            <div class="col-lg-4 text-right">
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </div>
        {{ '{%' }} endbuttons {{ '%}' }}
      </form>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
