{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load bootstrap4 {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Password Reset Confirm - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    {{ '{%' }} if validlink {{ '%}' }}
      <div class="col-12 offset-md-2 col-md-8">
        <h3 class="mb-4">Reset Password</h3>

        <form method="POST">
          {{ '{%' }} csrf_token {{ '%}' }}

          {{ '{%' }} bootstrap_form form layout='horizontal' {{ '%}' }}

          {{ '{%' }} buttons {{ '%}' }}
            <div class="text-right">
              <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
          {{ '{%' }} endbuttons {{ '%}' }}
        </form>
      </div>
    {{ '{%' }} else {{ '%}' }}
      <div class="col-12">
        <h3>Reset Password</h3>

        <p>The password reset link was invalid. This can happen if the link has already been used. Please request a <a href="{{ '{%' }} url 'accounts:password-reset' {{ '%}' }}">new password reset</a>.</p>
      </div>
    {{ '{%' }} endif {{ '%}' }}
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
