{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load bootstrap4 {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Change Password - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8">
      <form method="POST">
        {{ '{%' }} csrf_token {{ '%}' }}

        {{ '{%' }} bootstrap_form form layout='horizontal' {{ '%}' }}

        {{ '{%' }} buttons {{ '%}' }}
          <div class="text-right">
            <button class="btn btn-primary" type="submit">Change Password</button>
          </div>
        {{ '{%' }} endbuttons {{ '%}' }}
      </form>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
