{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load bootstrap4 {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Password Reset - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-12 offset-md-3 col-md-6">
      <h3>Password Reset</h3>

      <p>Please enter your registered email to receive a password reset link.</p>

      <form method="POST">
        {{ '{%' }} csrf_token {{ '%}' }}

        {{ '{%' }} bootstrap_form form layout='inline' {{ '%}' }}

        {{ '{%' }} buttons {{ '%}' }}
          <div class="row">
            <div class="col-lg-8">
              <a class="btn btn-link pl-0" href="{{ '{%' }} url 'accounts:login' {{ '%}' }}{{ '{%' }} if next {{ '%}' }}?next={{ '{{' }} next {{ '}}' }}{{ '{%' }} endif {{ '%}' }}">Back to login.</a>
            </div>

            <div class="col-lg-4 text-right">
              <button class="btn btn-primary" type="submit">Get Reset Link</button>
            </div>
          </div>
        {{ '{%' }} endbuttons {{ '%}' }}
      </form>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
