{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Password Reset Done - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-12">
      <h3>Password Reset</h3>

      <p>You've been emailed instructions on how to reset your password. If an account exists with the email you entered, you should receive the instructions shortly.</p>

      <p>If you don't receive an email, please make sure you used the correct email address and check your spam folder.</p>

      <p><a href="{{ '{%' }} url 'accounts:login' {{ '%}' }}{{ '{%' }} if next {{ '%}' }}?next={{ '{{' }} next {{ '}}' }}{{ '{%' }} endif {{ '%}' }}">Login page</a>.</p>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
