{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}{{ '{{' }} user {{ '}}' }} - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-12">
      <h2 class="mb-3">Hi, {{ '{{' }} user {{ '}}' }}</h2>

      {{ '{%' }} if user.is_staff {{ '%}' }}
        <a class="btn btn-primary" href="{{ '{%' }} url 'admin:index' {{ '%}' }}">Administration</a>
      {{ '{%' }} endif {{ '%}' }}

      <a class="btn btn-primary" href="{{ '{%' }} url 'accounts:password-change' {{ '%}' }}">Change Password</a>

      <a class="btn btn-primary" href="{{ '{%' }} url 'accounts:logout' {{ '%}' }}">Logout</a>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
