{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load wagtailuserbar wagtailcore_tags {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}{{ '{{' }} page.heading {{ '}}' }} - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-lg">
      <h1>{{ '{{' }} page.heading {{ '}}' }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      {{ '{%' }} include_block page.body {{ '%}' }}
    </div>
  </div>

  {{ '{%' }} wagtailuserbar {{ '%}' }}
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
