{{ '{%' }} with user_is_authenticated=user.is_authenticated {{ '%}' }}
  <h1>Order for {{ '{%' }} if user_is_authenticated {{ '%}' }}{{ '{{' }} user.email {{ '}}' }}{{ '{%' }} else {{ '%}' }}Guest{{ '{%' }} endif {{ '%}' }} - {{ '{{' }} checkout_page {{ '}}' }}</h1>
  {{ '{%' }} if not user_is_authenticated {{ '%}' }}
    <p><a href="{{ '{%' }} url 'accounts:login' {{ '%}' }}?next={{ '{%' }} url 'store:checkout-start' {{ '%}' }}">Login</a>{{ '{%' }} if is_registration_open {{ '%}' }} or <a href="{{ '{%' }} url 'django_registration_register' {{ '%}' }}?next={{ '{%' }} url 'store:checkout-start' {{ '%}' }}">create an account</a>{{ '{%' }} endif {{ '%}' }} to store your information for future orders.</p>
  {{ '{%' }} endif {{ '%}' }}
{{ '{%' }} endwith {{ '%}' }}
