{{ '{%' }} load prices_i18n thumbnail {{ '%}' }}

<form class="product-add-to-cart-form" action="{{ '{%' }} url 'store:cart-add' {{ '%}' }}" method="POST" data-product="{{ '{{' }} product.pk {{ '}}' }}" data-cart-update-content="{{ '{%' }} url 'store:cart-content' {{ '%}' }}">
  {{ '{%' }} csrf_token {{ '%}' }}

  <input type="hidden" name="product" value="{{ '{{' }} product.pk {{ '}}' }}">

  <div class="form-row">
    <div class="col">
      <select class="form-control" name="variant" data-product="{{ '{{' }} product.pk {{ '}}' }}">
        {{ '{%' }} for variant in product.variants.all {{ '%}' }}
          {{ '{%' }} with feature_image=variant.get_feature_image {{ '%}' }}
            <option value="{{ '{{' }} variant.pk {{ '}}' }}" data-feature-image-id="{{ '{{' }} feature_image.pk {{ '}}' }}" data-feature-image-url="{{ '{%' }} if get_feature_url and feature_image {{ '%}' }}{{ '{%' }} thumbnail feature_image.image '500x250' crop='center' as image {{ '%}' }}{{ '{{' }} image.url {{ '}}' }}{{ '{%' }} endthumbnail {{ '%}' }}{{ '{%' }} endif {{ '%}' }}" data-feature-image-alt="{{ '{{' }} feature_image.alternative_text {{ '}}' }}"{{ '{%' }} if not variant.is_available {{ '%}' }} disabled{{ '{%' }} endif {{ '%}' }}>{{ '{{' }} variant {{ '}}' }} - {{ '{{' }} variant.get_price_per_item|amount {{ '}}' }}</option>
          {{ '{%' }} endwith {{ '%}' }}
        {{ '{%' }} endfor {{ '%}' }}
      </select>
    </div>
  </div>

  <div class="form-row mt-2">
    <div class="col-2 d-flex align-items-center">
      <span class="feather-icon text-success add-to-cart-status d-none" data-feather="check" data-toggle="tooltip" title="Added to cart." data-product="{{ '{{' }} product.pk {{ '}}' }}"></span>
      <span class="feather-icon text-danger add-to-cart-status d-none" data-feather="x" data-toggle="tooltip" title="Error adding to cart." data-product="{{ '{{' }} product.pk {{ '}}' }}"></span>
    </div>

    <div class="col-10 col-lg-6">
      <div class="row">
        <label class="col-form-label col-6 text-right text-muted pr-0" for="quantity_product_{{ '{{' }} product.pk {{ '}}' }}">Quantity:</label>
        <div class="col-6">
          <input id="quantity_product_{{ '{{' }} product.pk {{ '}}' }}" class="form-control" type="number" min="1" max="999" name="quantity" value="1" data-product="{{ '{{' }} product.pk {{ '}}' }}">
        </div>
      </div>
    </div>

    <div class="col-lg-4 mt-2 mt-lg-0">
      <button class="btn btn-block btn-primary btn-add-to-cart" type="submit">Add to Cart</button>
    </div>
  </div>
</form>
