<label style="margin-left: {{ '{{' }} category.level {{ '}}' }}0px;"{{ '{%' }} if category.description {{ '%}' }} title="{{ '{{' }} category.description {{ '}}' }}"{{ '{%' }} endif {{ '%}' }}><input type="checkbox" name="categories" value="{{ '{{' }} category.pk {{ '}}' }}" data-node-id="{{ '{{' }} category.pk {{ '}}' }}" data-node-parent="{{ '{{' }} category.parent_id {{ '}}' }}" data-node-level="{{ '{{' }} category.level {{ '}}' }}"{{ '{%' }} if category.pk|upper in form.categories.value {{ '%}' }} checked{{ '{%' }} endif {{ '%}' }}> {{ '{{' }} category.name {{ '}}' }}</label><br>
