{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load static prices_i18n thumbnail {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Cart - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}
  <link href="{{ '{%' }} static 'store/css/cart_detail.css' {{ '%}' }}" rel="stylesheet">
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>
      <li class="breadcrumb-item active">Cart</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg">
      <h1>Cart ({{ '{{' }} cart.count {{ '}}' }} item{{ '{{' }} cart.count|pluralize {{ '}}' }})</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <table class="table table-responsive-lg">
        <tbody>
          {{ '{%' }} for cartitem in cart {{ '%}' }}
            <tr data-variant="{{ '{{' }} cartitem.product.pk {{ '}}' }}">
              <td>
                <h6>{{ '{{' }} cartitem.product.name {{ '}}' }}</h6>
                <small>{{ '{{' }} cartitem.product.product.description|truncatechars:100 {{ '}}' }}</small>
              </td>
              <td>
                {{ '{%' }} with product_image=cartitem.product.get_feature_image {{ '%}' }}
                  {{ '{%' }} if product_image {{ '%}' }}
                    {{ '{%' }} thumbnail product_image.image "100x100" crop="center" as image {{ '%}' }}
                      <img class="img-fluid rounded" src="{{ '{{' }} image.url {{ '}}' }}" alt="{{ '{{' }} product_image.alternative_text {{ '}}' }}" title="{{ '{{' }} product_image.alternative_text {{ '}}' }}">
                    {{ '{%' }} endthumbnail {{ '%}' }}
                  {{ '{%' }} endif {{ '%}' }}
                {{ '{%' }} endwith {{ '%}' }}
              </td>
              <td class="text-right cart-update-form-td">
                <form action="{{ '{%' }} url 'store:cart-update' {{ '%}' }}" method="POST" data-variant="{{ '{{' }} cartitem.product.pk {{ '}}' }}">
                  {{ '{%' }} csrf_token {{ '%}' }}

                  <input type="hidden" name="variant" value="{{ '{{' }} cartitem.product.pk {{ '}}' }}">

                  <div class="form-row">
                    <div class="col-lg-6">
                      <input class="form-control" type="number" min="0" max="{{ '{%' }} if cartitem.product.singular {{ '%}' }}1{{ '{%' }} else {{ '%}' }}999{{ '{%' }} endif {{ '%}' }}" name="quantity" value="{{ '{{' }} cartitem.get_quantity {{ '}}' }}">
                    </div>

                    <div class="col-lg-6">
                      <button class="btn btn-block btn-secondary btn-update-cart" type="submit">Update</button>
                    </div>
                  </div>
                </form>
              </td>
              <td class="text-right">{{ '{{' }} cartitem.get_price_per_item|amount {{ '}}' }}</td>
              <td class="text-right">{{ '{{' }} cartitem.get_item_total|amount {{ '}}' }}</td>
            </tr>
          {{ '{%' }} empty {{ '%}' }}
            <tr>
              <td colspan="5">No items in cart.</td>
            </tr>
          {{ '{%' }} endfor {{ '%}' }}
        </tbody>

        <tfoot>
          <tr class="font-weight-bold text-right">
            <td colspan="5">
              <h4>Subtotal:&nbsp;&nbsp;{{ '{{' }} cart.get_cart_total|amount {{ '}}' }}</h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg text-right">
      <a class="btn btn-secondary{{ '{%' }} if not cart.count {{ '%}' }} disabled{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:cart-clear' {{ '%}' }}">Empty Cart</a>
      <a class="btn btn-primary{{ '{%' }} if not cart.count {{ '%}' }} disabled{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:checkout-start' {{ '%}' }}"><span class="feather-icon" data-feather="shopping-bag"></span> Proceed to Checkout</a>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

