{{ '{%' }} load prices_i18n {{ '%}' }}

{{ '{%' }} if store_cart.count {{ '%}' }}
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-store-cart"><span class="feather-icon" data-feather="shopping-cart"></span></a>
  <div class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="dropdown-store-cart">
      <a class="nav-link text-dark pb-0" href="{{ '{%' }} url 'store:cart-detail' {{ '%}' }}">
        <span class="font-weight-bold">View Cart</span> ({{ '{{' }} store_cart.count {{ '}}' }} item{{ '{{' }} store_cart.count|pluralize {{ '}}' }})

        <table class="table mb-0">
          <tbody>
            {{ '{%' }} for cartitem in store_cart {{ '%}' }}
              <tr>
                <td>{{ '{{' }} cartitem.product.name {{ '}}' }}</td>
                <td>x{{ '{{' }} cartitem.get_quantity {{ '}}' }}</td>
              </tr>
            {{ '{%' }} endfor {{ '%}' }}
          </tbody>
        </table>
      </a>

      <div class="d-flex align-items-center">
        <a class="btn btn-sm btn-secondary mr-2{{ '{%' }} if not store_cart.count {{ '%}' }} disabled{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:cart-clear' {{ '%}' }}" data-toggle="tooltip" title="Empty cart."><span class="feather-icon" data-feather="trash"></span></a>
        <a class="btn btn-sm btn-primary mr-2{{ '{%' }} if not store_cart.count {{ '%}' }} disabled{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:checkout-start' {{ '%}' }}" data-toggle="tooltip" title="Start checkout."><span class="feather-icon" data-feather="shopping-bag"></span></a>
        <span class="text-right font-weight-bold flex-grow-1">Subtotal: {{ '{{' }} store_cart.get_cart_total|amount {{ '}}' }}</span>
      </div>
    </div>
  </div>

  {{ '{%' }} if request.is_ajax {{ '%}' }}
    <script>
      $(document).ready(function() {
        try {
          feather.replace();
        } catch (_err) {
          console.log("Unable to use feather.");
        }

        try {
          $('.store-cart [data-toggle="tooltip"]').tooltip();
        } catch (_err) {
          console.log("Unable to use tooltip.");
        }
      });
    </script>
  {{ '{%' }} endif {{ '%}' }}
{{ '{%' }} endif {{ '%}' }}
