{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load static bootstrap4 prices_i18n thumbnail {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Review - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}
  <link href="{{ '{%' }} static 'store/css/checkout_review.css' {{ '%}' }}" rel="stylesheet">
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:cart-detail' {{ '%}' }}">Cart</a></li>
      <li class="breadcrumb-item active">Checkout</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg">
      {{ '{%' }} include "store/_checkout_heading.html" with checkout_page='Review' {{ '%}' }}
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <table class="table table-responsive-lg">
        <thead>
          <tr>
            <th colspan="5">
              <h3>Email: {{ '{{' }} order.get_user_email {{ '}}' }}</h3>
              <small class="text-muted">#{{ '{{' }} order.token_id {{ '}}' }}</small>
            </th>
          </tr>
        </thead>

        <tbody>
          {{ '{%' }} for orderitem in order.items.all {{ '%}' }}
            <tr>
              <td>
                <h6>{{ '{{' }} orderitem.product_name {{ '}}' }}</h6>
                <small>{{ '{{' }} orderitem.product.description {{ '}}' }}</small>
              </td>
              <td>
                {{ '{%' }} with product_image=orderitem.variant.get_feature_image {{ '%}' }}
                  {{ '{%' }} if product_image {{ '%}' }}
                    {{ '{%' }} thumbnail product_image.image "100x100" crop="center" as image {{ '%}' }}
                      <img class="img-fluid rounded" src="{{ '{{' }} image.url {{ '}}' }}" alt="{{ '{{' }} product_image.alternative_text {{ '}}' }}" title="{{ '{{' }} product_image.alternative_text {{ '}}' }}">
                    {{ '{%' }} endthumbnail {{ '%}' }}
                  {{ '{%' }} endif {{ '%}' }}
                {{ '{%' }} endwith {{ '%}' }}
              </td>
              <td class="text-right">{{ '{{' }} orderitem.get_quantity {{ '}}' }}</td>
              <td class="text-right">{{ '{{' }} orderitem.get_price_per_item|amount {{ '}}' }}</td>
              <td class="text-right">{{ '{{' }} orderitem.get_total|amount {{ '}}' }}</td>
            </tr>
          {{ '{%' }} endfor {{ '%}' }}
        </tbody>

        <tfoot>
          <tr class="font-weight-bold text-right">
            <td colspan="5">
              <h4>Subtotal:&nbsp;&nbsp;{{ '{{' }} order.get_total|amount {{ '}}' }}</h4>
              {{ '{%' }} with tax_cost=order.get_tax {{ '%}' }}
                <h4>Tax:&nbsp;&nbsp;{{ '{%' }} if tax_cost {{ '%}' }}{{ '{{' }} tax_cost|amount {{ '}}' }}{{ '{%' }} else {{ '%}' }}No Tax{{ '{%' }} endif {{ '%}' }}</h4>
              {{ '{%' }} endwith {{ '%}' }}
              {{ '{%' }} if order.is_shipping_required {{ '%}' }}
                {{ '{%' }} with shipping_cost=order.get_shipping {{ '%}' }}
                  <h4>Shipping:&nbsp;&nbsp;{{ '{%' }} if shipping_cost {{ '%}' }}{{ '{{' }} shipping_cost|amount {{ '}}' }}{{ '{%' }} else {{ '%}' }}Free{{ '{%' }} endif {{ '%}' }}</h4>
                {{ '{%' }} endwith {{ '%}' }}
              {{ '{%' }} endif {{ '%}' }}
              <h2>Total:&nbsp;&nbsp;{{ '{{' }} order.get_grand_total|amount {{ '}}' }}</h2>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h4 class="mt-4 mt-lg-0">Billing Info</h4>
      {{ '{{' }} order.billing_address.get_html_display {{ '}}' }}
    </div>

    <div class="col-lg-6">
      {{ '{%' }} if order.is_shipping_required {{ '%}' }}
        <h4 class="mt-4 mt-lg-0">Shipping Info</h4>
        {{ '{{' }} order.shipping_address.get_html_display {{ '}}' }}
      {{ '{%' }} endif {{ '%}' }}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-right">
      <a class="btn btn-secondary" href="{{ '{%' }} url 'store:checkout-cancel' {{ '%}' }}">Cancel Order</a>

      <div class="d-inline-block">
        <form id="payment-form" action="{{ '{{' }} form.action {{ '}}' }}" method="{{ '{{' }} form.method {{ '}}' }}">
          {{ '{%' }} if form.method|lower == 'post' {{ '%}' }}{{ '{%' }} csrf_token {{ '%}' }}{{ '{%' }} endif {{ '%}' }}

          {{ '{%' }} bootstrap_form form {{ '%}' }}

          {{ '{%' }} if payment.variant == 'dummy' {{ '%}' }}
            <button class="btn btn-primary" type="submit">Make Payment</button>
          {{ '{%' }} endif {{ '%}' }}
        </form>
      </div>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

