{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load bootstrap4 {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Contact Info - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:cart-detail' {{ '%}' }}">Cart</a></li>
      <li class="breadcrumb-item active">Checkout</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg">
      {{ '{%' }} include "store/_checkout_heading.html" with checkout_page='Contact Info' {{ '%}' }}
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <form action="{{ '{%' }} url 'store:checkout-contact' {{ '%}' }}" method="POST">
        {{ '{%' }} csrf_token {{ '%}' }}

        <div class="row">
          <div class="col-lg-6">
            <h5>Billing Information</h5>

            <div class="form-row">
              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_first_name {{ '%}' }}
              </div>

              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_last_name {{ '%}' }}
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_email {{ '%}' }}
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_address1 {{ '%}' }}
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_address2 {{ '%}' }}
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_city {{ '%}' }}
              </div>

              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_state {{ '%}' }}
              </div>

              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_zip_code {{ '%}' }}
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                {{ '{%' }} bootstrap_field form.billing_phone {{ '%}' }}
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            {{ '{%' }} if form.shipping_required {{ '%}' }}
              <h5 class="d-inline-block mr-4">Shipping Information</h5>
              <div class="d-inline-block">{{ '{%' }} bootstrap_field form.use_same_contacts {{ '%}' }}</div>

              <div class="form-row">
                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_first_name {{ '%}' }}
                </div>

                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_last_name {{ '%}' }}
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_email {{ '%}' }}
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_address1 {{ '%}' }}
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_address2 {{ '%}' }}
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_city {{ '%}' }}
                </div>

                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_state {{ '%}' }}
                </div>

                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_zip_code {{ '%}' }}
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  {{ '{%' }} bootstrap_field form.shipping_phone {{ '%}' }}
                </div>
              </div>
            {{ '{%' }} endif {{ '%}' }}
          </div>
        </div>

        {{ '{%' }} buttons {{ '%}' }}
          <button class="btn btn-primary" type="submit">Proceed</button>
          <a class="btn btn-secondary" href="{{ '{%' }} url 'store:checkout-cancel' {{ '%}' }}">Cancel</a>
        {{ '{%' }} endbuttons {{ '%}' }}
      </form>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{{' }} form.media.js {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

