{{ '{%' }} extends request.is_ajax|yesno:"base_ajax.html,base.html" {{ '%}' }}

{{ '{%' }} load prices_i18n {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Store Order - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  {{ '{%' }} if not request.is_ajax {{ '%}' }}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>
        <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}">Dashboard</a></li>
        <li class="breadcrumb-item active">{{ '{{' }} order.token_id {{ '}}' }}</li>
      </ol>
    </nav>
  {{ '{%' }} endif {{ '%}' }}

  <div class="row">
    <div class="col-lg">
      <h2>Order #{{ '{{' }} order.token_id {{ '}}' }}</h2>
      <h4>Date: {{ '{{' }} order.created|date:'M j Y' {{ '}}' }}</h4>
      <h4>Status: {{ '{{' }} order.get_status_display {{ '}}' }} ({{ '{{' }} order.status_changed_at|date:'M j Y g:i a' {{ '}}' }})</h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg">
      <table class="table table-responsive-lg">
        <thead>
          <tr>
            <th>Item</th>
            <th>Sku</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Unit Price</th>
            <th class="text-center">Total</th>
          </tr>
        </thead>

        <tbody>
          {{ '{%' }} for orderitem in order.items.all {{ '%}' }}
            <tr>
              <td>{{ '{{' }} orderitem.product_name {{ '}}' }}</td>
              <td>{{ '{{' }} orderitem.product_sku {{ '}}' }}</td>
              <td class="text-right">{{ '{{' }} orderitem.get_quantity {{ '}}' }}</td>
              <td class="text-right">{{ '{{' }} orderitem.get_price_per_item|amount {{ '}}' }}</td>
              <td class="text-right">{{ '{{' }} orderitem.get_total|amount {{ '}}' }}</td>
            </tr>
          {{ '{%' }} endfor {{ '%}' }}
        </tbody>

        <tfoot>
          <tr class="text-right">
            <td colspan="5">
              <h4>Subtotal:&nbsp;&nbsp;{{ '{{' }} order.get_total|amount {{ '}}' }}</h4>
              <h4>Tax:&nbsp;&nbsp;{{ '{{' }} order.get_tax|amount {{ '}}' }}</h4>
              <h4>Shipping:&nbsp;&nbsp;{{ '{{' }} order.get_shipping|amount {{ '}}' }}</h4>
              <h3>Total:&nbsp;&nbsp;{{ '{{' }} order.get_grand_total|amount {{ '}}' }}</h3>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h5>Billing</h5>
      {{ '{{' }} order.billing_address.get_html_display {{ '}}' }}
    </div>

    <div class="col-lg-4">
      {{ '{%' }} if order.is_shipping_required {{ '%}' }}
        <h5>Shipping</h5>
        {{ '{{' }} order.shipping_address.get_html_display {{ '}}' }}
      {{ '{%' }} endif {{ '%}' }}
    </div>

    <div class="col-lg-4 text-right">
      {{ '{%' }} if order.needs_shipped {{ '%}' }}
        <a class="btn btn-primary" href="{{ '{%' }} url 'store:dashboard-order-ship' order.pk {{ '%}' }}?filter={{ '{{' }} filter {{ '}}' }}">Mark as Shipped</a>
      {{ '{%' }} elif order.needs_completed {{ '%}' }}
        <a class="btn btn-primary" href="{{ '{%' }} url 'store:dashboard-order-complete' order.pk {{ '%}' }}?filter={{ '{{' }} filter {{ '}}' }}">Mark as Complete</a>
      {{ '{%' }} endif {{ '%}' }}
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
