{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load prices_i18n {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Store Dashboard - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-2">
      <h2>Orders ({{ '{{' }} page_obj.paginator.count {{ '}}' }})</h2>
    </div>

    <div class="col-lg-10 text-right">
      <div class="d-none d-lg-block">
        <div class="btn-group" role="group">
          <a class="btn btn-sm btn-{{ '{%' }} if filter == '' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}">Needs Attention</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'pending' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=pending">Pending</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'cancelled' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=cancelled">Cancelled</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'reviewed' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=reviewed">Reviewed</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'paid' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=paid">Paid</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'payment_error' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=payment_error">Payment Error</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'shipped' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=shipped">Shipped</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'completed' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=completed">Completed</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'all' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=all">All</a>
        </div>
      </div>

      <div class="d-block d-lg-none">
        <div class="btn-block btn-group-vertical" role="group">
          <a class="btn btn-sm btn-{{ '{%' }} if filter == '' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}">Needs Attention</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'pending' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=pending">Pending</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'cancelled' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=cancelled">Cancelled</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'reviewed' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=reviewed">Reviewed</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'paid' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=paid">Paid</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'payment_error' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=payment_error">Payment Error</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'shipped' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=shipped">Shipped</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'completed' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=completed">Completed</a>
          <a class="btn btn-sm btn-{{ '{%' }} if filter == 'all' {{ '%}' }}primary{{ '{%' }} else {{ '%}' }}secondary{{ '{%' }} endif {{ '%}' }}" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}?filter=all">All</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <table class="table table-responsive-lg">
        <thead>
          <tr>
            <th>Order</th>
            <th>Date</th>
            <th class="text-center">Subtotal</th>
            <th class="text-center">Items</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          {{ '{%' }} for order in orders {{ '%}' }}
            <tr class="order-row" data-order-view="{{ '{%' }} url 'store:dashboard-order' order.pk {{ '%}' }}?filter={{ '{{' }} filter {{ '}}' }}">
              <td>#{{ '{{' }} order.token_id {{ '}}' }}</td>
              <td>{{ '{{' }} order.created|date:'M j Y' {{ '}}' }}</td>
              <td class="text-right">{{ '{{' }} order.get_total|amount {{ '}}' }}</td>
              <td class="text-right">{{ '{{' }} order.items.count {{ '}}' }}</td>
              <td>{{ '{{' }} order.get_status_display {{ '}}' }} ({{ '{{' }} order.status_changed_at|date:'M j Y g:i a' {{ '}}' }})</td>
            </tr>
          {{ '{%' }} endfor {{ '%}' }}
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        {{ '{%' }} include "_pagination.html" {{ '%}' }}
      </div>
    </div>
  </div>

  <div id="order-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">View Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}
  <script>
    $(document).ready(function() {
      $('.order-row').click(function() {
        $('#order-modal .modal-body').text("Loading...");
        $('#order-modal').modal('show');
        $('#order-modal .modal-body').load($(this).data('order-view'));
      });
    });
  </script>
{{ '{%' }} endblock {{ '%}' }}
