{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load prices_i18n {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Orders - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }} {{ '{%' }} now "Y" as current_year {{ '%}' }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>
      <li class="breadcrumb-item active">Orders</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg">
      <h1>Orders</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <table class="table table-responsive-lg">
        <thead>
          <tr>
            <th>Order</th>
            <th>Date</th>
            <th class="text-center">Subtotal</th>
            <th class="text-center">Tax</th>
            <th class="text-center">Shipping</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          {{ '{%' }} for order in orders {{ '%}' }}
            <tr>
              <td><a href="{{ '{{' }} order.get_absolute_url {{ '}}' }}">#{{ '{{' }} order.token_id {{ '}}' }}</a></td>
              <td>{{ '{%' }} if order.created.year|upper != current_year {{ '%}' }}{{ '{{' }} order.created|date:'M j Y' {{ '}}' }}{{ '{%' }} else {{ '%}' }}{{ '{{' }} order.created|date:'M j' {{ '}}' }}{{ '{%' }} endif {{ '%}' }}</td>
              <td class="text-right">{{ '{{' }} order.get_total|amount {{ '}}' }}</td>
              <td class="text-right">{{ '{%' }} with tax_cost=order.get_tax {{ '%}' }}{{ '{%' }} if tax_cost {{ '%}' }}{{ '{{' }} tax_cost|amount {{ '}}' }}{{ '{%' }} else {{ '%}' }}No Tax{{ '{%' }} endif {{ '%}' }}{{ '{%' }} endwith {{ '%}' }}</td>
              <td class="text-right">{{ '{%' }} with shipping_cost=order.get_shipping {{ '%}' }}{{ '{%' }} if shipping_cost {{ '%}' }}{{ '{{' }} shipping_cost|amount {{ '}}' }}{{ '{%' }} else {{ '%}' }}Free{{ '{%' }} endif {{ '%}' }}{{ '{%' }} endwith {{ '%}' }}</td>
              <td>{{ '{{' }} order.get_status_display {{ '}}' }} ({{ '{%' }} if order.status_changed_at.year|upper != current_year {{ '%}' }}{{ '{{' }} order.status_changed_at|date:'M j Y g:i a' {{ '}}' }}{{ '{%' }} else {{ '%}' }}{{ '{{' }} order.status_changed_at|date:'M j g:i a' {{ '}}' }}{{ '{%' }} endif {{ '%}' }})</td>
            </tr>
          {{ '{%' }} empty {{ '%}' }}
            <tr>
              <td colspan="6">No orders.</td>
            </tr>
          {{ '{%' }} endfor {{ '%}' }}
        </tbody>
      </table>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

