{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load prices_i18n thumbnail {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Order - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }} {{ '{%' }} now "Y" as current_year {{ '%}' }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>
      {{ '{%' }} if user == order.user {{ '%}' }}<li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:order-list' {{ '%}' }}">Orders</a></li>{{ '{%' }} endif {{ '%}' }}
      <li class="breadcrumb-item active">Order #{{ '{{' }} order.token_id {{ '}}' }}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8">
      <h1 class="d-inline-block align-middle">Order</h1>
      <h5 class="d-inline-block align-middle text-muted">#{{ '{{' }} order.token_id {{ '}}' }}</h5>
    </div>

    <div class="col-lg-4 text-right">
      {{ '{%' }} if can_cancel_order {{ '%}' }}<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modal-cancel-order">Cancel</button>{{ '{%' }} endif {{ '%}' }}
      <button class="btn btn-primary" onclick="window.print();">Print</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h3>Date: {{ '{%' }} if order.created.year|upper != current_year {{ '%}' }}{{ '{{' }} order.created|date:'M j Y' {{ '}}' }}{{ '{%' }} else {{ '%}' }}{{ '{{' }} order.created|date:'M j' {{ '}}' }}{{ '{%' }} endif {{ '%}' }}</h3>
      <h3>Subtotal: {{ '{{' }} order.get_total|amount {{ '}}' }}</h3>
      <h3>Tax: {{ '{%' }} with tax_cost=order.get_tax {{ '%}' }}{{ '{%' }} if tax_cost {{ '%}' }}{{ '{{' }} tax_cost|amount {{ '}}' }}{{ '{%' }} else {{ '%}' }}No Tax{{ '{%' }} endif {{ '%}' }}{{ '{%' }} endwith {{ '%}' }}</h3>
      <h3>Shipping: {{ '{%' }} with shipping_cost=order.get_shipping {{ '%}' }}{{ '{%' }} if shipping_cost {{ '%}' }}{{ '{{' }} shipping_cost|amount {{ '}}' }}{{ '{%' }} else {{ '%}' }}Free{{ '{%' }} endif {{ '%}' }}{{ '{%' }} endwith {{ '%}' }}</h3>
      <h3>Status: {{ '{{' }} order.get_status_display {{ '}}' }} ({{ '{%' }} if order.status_changed_at.year|upper != current_year {{ '%}' }}{{ '{{' }} order.status_changed_at|date:'M j Y g:i a' {{ '}}' }}{{ '{%' }} else {{ '%}' }}{{ '{{' }} order.status_changed_at|date:'M j g:i a' {{ '}}' }}{{ '{%' }} endif {{ '%}' }})</h3>
    </div>

    {{ '{%' }} if user.is_authenticated and user == order.user {{ '%}' }}
      <div class="col-lg-3">
        <h3 class="mt-2">Billing</h3>
        {{ '{{' }} order.billing_address.get_html_display {{ '}}' }}
      </div>

      <div class="col-lg-3">
        {{ '{%' }} if order.is_shipping_required {{ '%}' }}
          <h3 class="mt-2">Shipping</h3>
          {{ '{{' }} order.shipping_address.get_html_display {{ '}}' }}
        {{ '{%' }} endif {{ '%}' }}
      </div>
    {{ '{%' }} endif {{ '%}' }}
  </div>

  {{ '{%' }} if user.is_authenticated and user == order.user {{ '%}' }}
    <div class="row mt-3">
      <div class="col-lg">
        <table class="table table-responsive-lg">
          <thead>
            <tr>
              <th colspan="5">
                <h3>Items</h3>
              </th>
            </tr>
          </thead>

          <tbody>
            {{ '{%' }} for orderitem in order.items.all {{ '%}' }}
              <tr>
                <td>
                  <h6>{{ '{{' }} orderitem.product_name {{ '}}' }}</h6>
                  <small>{{ '{{' }} orderitem.product.description {{ '}}' }}</small>
                </td>
                <td>
                  {{ '{%' }} with product_image=orderitem.variant.get_feature_image {{ '%}' }}
                    {{ '{%' }} if product_image {{ '%}' }}
                      {{ '{%' }} thumbnail product_image.image "100x100" crop="center" as image {{ '%}' }}
                        <img class="img-fluid rounded" src="{{ '{{' }} image.url {{ '}}' }}" alt="{{ '{{' }} product_image.alternative_text {{ '}}' }}" title="{{ '{{' }} product_image.alternative_text {{ '}}' }}">
                      {{ '{%' }} endthumbnail {{ '%}' }}
                    {{ '{%' }} endif {{ '%}' }}
                  {{ '{%' }} endwith {{ '%}' }}
                </td>
                <td class="text-right">{{ '{{' }} orderitem.get_quantity {{ '}}' }}</td>
                <td class="text-right">{{ '{{' }} orderitem.get_price_per_item|amount {{ '}}' }}</td>
                <td class="text-right">{{ '{{' }} orderitem.get_total|amount {{ '}}' }}</td>
              </tr>
            {{ '{%' }} endfor {{ '%}' }}
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal fade" id="modal-cancel-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cancel Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to cancel this order?
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
            <a class="btn btn-danger" href="{{ '{%' }} url 'store:order-cancel' order.token_id {{ '%}' }}">Cancel Order</a>
          </div>
        </div>
      </div>
    </div>
  {{ '{%' }} endif {{ '%}' }}
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

