{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load static prices_i18n thumbnail mptt_tags {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Store - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}
  <link href="{{ '{%' }} static 'store/css/product_display.css' {{ '%}' }}" rel="stylesheet">
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-lg-7">
      {{ '{%' }} with product_count=products.count {{ '%}' }}
        <h1>Products ({{ '{{' }} product_count {{ '}}' }} item{{ '{{' }} product_count|pluralize {{ '}}' }})</h1>
      {{ '{%' }} endwith {{ '%}' }}
    </div>

    <div class="col-lg-5 text-right">
      {{ '{%' }} if form.has_filters {{ '%}' }}<span class="text-muted mr-3">Filters Applied</span>{{ '{%' }} endif {{ '%}' }}
      <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#product-filters-collapse" aria-expanded="{{ '{%' }} if form.has_filters {{ '%}' }}true{{ '{%' }} else {{ '%}' }}false{{ '{%' }} endif {{ '%}' }}" aria-controls="product-filters-collapse">Filter</button>
      {{ '{%' }} if user.is_authenticated {{ '%}' }}<a class="btn btn-secondary" href="{{ '{%' }} url 'store:order-list' {{ '%}' }}"><span class="feather-icon" data-feather="clipboard"></span> View Orders</a>{{ '{%' }} endif {{ '%}' }}
      <a class="btn btn-info" href="{{ '{%' }} url 'store:cart-detail' {{ '%}' }}"><span class="feather-icon" data-feather="shopping-cart"></span> View Cart</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="product-filters-collapse" class="collapse{{ '{%' }} if form.has_filters {{ '%}' }} show{{ '{%' }} endif {{ '%}' }} mt-2 mt-lg-0">
        <form action="{{ '{%' }} url 'store:product-list' {{ '%}' }}" method="GET">
          <div class="row mb-3">
            <div class="col-lg-3">{% if cookiecutter.use_wagtail == 'y' %}
              {{ '{%' }} if user.is_staff {{ '%}' }}<a href="{{ '{%' }} url \'store_category_modeladmin_index\' {{ '%}' }}"><span class="feather-icon text-warning" data-feather="edit-2"></span></a><br>{{ '{%' }} endif {{ '%}' }}{% endif %}
              {{ '{%' }} for node in form.get_categories_roots {{ '%}' }}
                {{ '{%' }} include "store/_product_list_category_check.html" with category=node {{ '%}' }}
                {{ '{%' }} include "store/_product_list_categories.html" {{ '%}' }}
              {{ '{%' }} endfor {{ '%}' }}
            </div>

            <div class="col-lg-3">{% if cookiecutter.use_wagtail == 'y' %}
              {{ '{%' }} if user.is_staff {{ '%}' }}<a href="{{ '{%' }} url \'store_productattribute_modeladmin_index\' {{ '%}' }}"><span class="feather-icon text-warning" data-feather="edit-2"></span></a><br>{{ '{%' }} endif {{ '%}' }}{% endif %}
              {{ '{%' }} for attribute in form.attributes.field.queryset {{ '%}' }}
                <label><input type="checkbox" name="attributes" value="{{ '{{' }} attribute.pk {{ '}}' }}"{{ '{%' }} if attribute.pk|upper in form.attributes.value {{ '%}' }} checked{{ '{%' }} endif {{ '%}' }}> {{ '{{' }} attribute.name {{ '}}' }}</label><br>
              {{ '{%' }} endfor {{ '%}' }}
            </div>

            <div class="col-lg-3">
              <div class="row">
                <div class="col-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input class="form-control" type="number" name="price_low" min="0" step="0.01" value="{{ '{{' }} form.price_low.value|default:'' {{ '}}' }}" placeholder="Low">
                    <div class="input-group-prepend input-group-append">
                      <span class="input-group-text">to</span>
                    </div>
                    <input class="form-control" type="number" name="price_high" min="0" step="0.01" value="{{ '{{' }} form.price_high.value|default:'' {{ '}}' }}" placeholder="High">
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-12">
                  <input class="form-control" type="text" name="search" value="{{ '{{' }} form.search.value|default:'' {{ '}}' }}" placeholder="Search">
                </div>
              </div>
            </div>

            <div class="col-lg-3 text-right mt-2 mt-lg-0">
              <button class="btn btn-primary" type="submit">Apply Filters</button>
              <a class="btn btn-secondary" href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Reset Filters</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-lg">
      <div class="card-columns">
        {{ '{%' }} for product in products {{ '%}' }}
          <div class="card">
            {{ '{%' }} with product_image=product.get_feature_image {{ '%}' }}
              {{ '{%' }} if product_image {{ '%}' }}
                {{ '{%' }} thumbnail product_image.image "500x250" crop="center" as image {{ '%}' }}
                  <a href="{{ '{{' }} product.get_absolute_url {{ '}}' }}"><img class="card-img-top product-image-feature" src="{{ '{{' }} image.url {{ '}}' }}" alt="{{ '{{' }} product_image.alternative_text {{ '}}' }}" title="{{ '{{' }} product_image.alternative_text {{ '}}' }}" data-product="{{ '{{' }} product.pk {{ '}}' }}"></a>
                {{ '{%' }} endthumbnail {{ '%}' }}
              {{ '{%' }} endif {{ '%}' }}
            {{ '{%' }} endwith {{ '%}' }}

            <div class="card-body">
              <h5 class="card-title d-flex">
                <a class="text-dark flex-fill" href="{{ '{{' }} product.get_absolute_url {{ '}}' }}">{{ '{{' }} product.name {{ '}}' }}</a>{% if cookiecutter.use_wagtail == 'y' %}
                {{ '{%' }} if user.is_staff {{ '%}' }}<a href="{{ '{%' }} url \'store_product_modeladmin_edit\' instance_pk=product.pk {{ '%}' }}"><span class="feather-icon text-warning" data-feather="edit-2"></span></a>{{ '{%' }} endif {{ '%}' }}{% endif %}
              </h5>
              <p class="card-text">{{ '{{' }} product.description {{ '}}' }}</p>

              {{ '{%' }} include "store/_product_form.html" with get_feature_url=True {{ '%}' }}
            </div>
          </div>
        {{ '{%' }} empty {{ '%}' }}
          <p>No products found.{{ '{%' }} if form.has_filters {{ '%}' }} Try adjusting the filters.{{ '{%' }} endif {{ '%}' }}</p>
        {{ '{%' }} endfor {{ '%}' }}
      </div>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}
  {{ '{{' }} form.media.js {{ '}}' }}
  <script src="{{ '{%' }} static 'store/js/product_display.js' {{ '%}' }}"></script>
{{ '{%' }} endblock {{ '%}' }}

