{{ '{%' }} extends 'admin/change_form.html' {{ '%}' }}

{{ '{%' }} block admin_change_form_document_ready {{ '%}' }}
  {{ '{{' }} block.super {{ '}}' }}
  <script>
    (function($) {
      $(document).on('formset:added', function(event, $row, formsetName) {
        if (formsetName == 'images') {
          // add unsaved image to all variants
          var unsaved_image_name = $row.find('.original input[name$=-id]').attr('name').replace('-id', '');
          $('.dynamic-variants select[name$=-images]').append($('<option>', {
            value: unsaved_image_name,
          }).text('Image: (new)'));
        } else if (formsetName == 'variants') {
          // add all unsaved images to variant
          $('.dynamic-images:not(.has_original)').each(function() {
            var unsaved_image_name = $(this).find('.original input[name$=-id]').attr('name').replace('-id', '');
            var unsaved_image_text = $(this).find('.field-alternative_text input[name$=-alternative_text]').val();
            $row.find('.field-images select[name$=-images]').append($('<option>', {
              value: unsaved_image_name,
            }).text('Image: ' + unsaved_image_text + ' (new)'));
          });
        }
      });

      $(document).on('formset:removed', function(event, $row, formsetName) {
        if (formsetName == 'images') {
          // remove unsaved image from all variants
          var unsaved_image_name = $row.find('.original input[name$=-id]').attr('name').replace('-id', '');
          $('.dynamic-variants select[name$=-images] option[value=' + unsaved_image_name + ']').remove();

          // decrement all higher prefixes
          for (var i = parseInt(unsaved_image_name.replace('images-', '')) + 1; i <= $('.dynamic-images').length; i++) {
            $('.dynamic-variants select[name$=-images] option[value=images-' + i.toString() + ']').attr('value', 'images-' + (i - 1).toString());
          }
        }
      });

      $(document).on('change', '.dynamic-images:not(.has_original) .field-alternative_text input[name$=-alternative_text]', function() {
        // update unsaved image text in all variants
        var unsaved_image_name = $(this).closest('.dynamic-images').find('.original input[name$=-id]').attr('name').replace('-id', '');
        $('.dynamic-variants select[name$=-images] option[value=' + unsaved_image_name + ']').text('Image: ' + $(this).val() + ' (new)');
      });

      $(document).ready(function() {
        // create initial unsaved image options in all variants
        $('.dynamic-images:not(.has_original)').each(function() {
          var unsaved_image_name = $(this).find('.original input[name$=-id]').attr('name').replace('-id', '');
          var unsaved_image_text = $(this).find('.field-alternative_text input[name$=-alternative_text]').val();
          $('.dynamic-variants .field-images select[name$=-images]').append($('<option>', {
            value: unsaved_image_name,
          }).text('Image: ' + unsaved_image_text + ' (new)'));
        });
      });
    })(django.jQuery);
  </script>
{{ '{%' }} endblock {{ '%}' }}
