{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} load static prices_i18n thumbnail {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}{{ '{{' }} product.name {{ '}}' }} - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}
  <link href="{{ '{%' }} static 'store/css/product_display.css' {{ '%}' }}" rel="stylesheet">
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>
      <li class="breadcrumb-item active">{{ '{{' }} product.name {{ '}}' }}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-4">
      {{ '{%' }} with product_image=product.get_feature_image {{ '%}' }}
        {{ '{%' }} if product_image {{ '%}' }}
          {{ '{%' }} thumbnail product_image.image "500x500" crop="center" as image {{ '%}' }}
            <img class="img-fluid product-image-feature" src="{{ '{{' }} image.url {{ '}}' }}" alt="{{ '{{' }} product_image.alternative_text {{ '}}' }}" title="{{ '{{' }} product_image.alternative_text {{ '}}' }}" data-product="{{ '{{' }} product.pk {{ '}}' }}">
          {{ '{%' }} endthumbnail {{ '%}' }}
        {{ '{%' }} endif {{ '%}' }}
      {{ '{%' }} endwith {{ '%}' }}
      {{ '{%' }} for product_image in product.images.all {{ '%}' }}
        {{ '{%' }} thumbnail product_image.image "500x500" crop="center" as large_image {{ '%}' }}
          {{ '{%' }} thumbnail product_image.image "100x100" crop="center" as image {{ '%}' }}
            <img class="img-fluid product-image-small" src="{{ '{{' }} image.url {{ '}}' }}" data-image-id="{{ '{{' }} product_image.pk {{ '}}' }}" data-large-image-url="{{ '{{' }} large_image.url {{ '}}' }}" alt="{{ '{{' }} product_image.alternative_text {{ '}}' }}" title="{{ '{{' }} product_image.alternative_text {{ '}}' }}" data-product="{{ '{{' }} product.pk {{ '}}' }}">
          {{ '{%' }} endthumbnail {{ '%}' }}
        {{ '{%' }} endthumbnail {{ '%}' }}
      {{ '{%' }} endfor {{ '%}' }}
    </div>

    <div class="col-lg-4">
      <h1 class="d-flex">
        <span class="flex-fill">{{ '{{' }} product.name {{ '}}' }}</span>{% if cookiecutter.use_wagtail == 'y' %}
        {{ '{%' }} if user.is_staff {{ '%}' }}<a href="{{ '{%' }} url \'store_product_modeladmin_edit\' instance_pk=product.pk {{ '%}' }}"><span class="feather-icon text-warning" data-feather="edit-2"></span></a>{{ '{%' }} endif {{ '%}' }}{% endif %}
      </h1>
      <p>{{ '{{' }} product.description {{ '}}' }}</p>

      {{ '{%' }} include "store/_product_form.html" with get_feature_url=False {{ '%}' }}
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}
  <script src="{{ '{%' }} static 'store/js/product_display.js' {{ '%}' }}"></script>
{{ '{%' }} endblock {{ '%}' }}
