<address>
  {{ '{{' }} value.line1 {{ '}}' }}<br>
  {{ '{%' }} if value.line2 {{ '%}' }}{{ '{{' }} value.line2 {{ '}}' }}<br>{{ '{%' }} endif {{ '%}' }}
  {{ '{{' }} value.city {{ '}}' }}, {{ '{{' }} value.state {{ '}}' }} {{ '{{' }} value.zip_code {{ '}}' }} {{ '{%' }} if value.map_link {{ '%}' }}(<a href="{{ '{{' }} value.map_link {{ '}}' }}" target="_blank">map</a>){{ '{%' }} endif {{ '%}' }}
</address>
