{{ '{%' }} load wagtailcore_tags {{ '%}' }}

<div class="row">
  <div class="col-12 col-lg-4">
    {{ '{%' }} include_block value.left_column {{ '%}' }}
  </div>

  <div class="col-12 col-lg-4">
    {{ '{%' }} include_block value.middle_column {{ '%}' }}
  </div>

  <div class="col-12 col-lg-4">
    {{ '{%' }} include_block value.right_column {{ '%}' }}
  </div>
</div>
