SECRET_KEY={{ '{{' }} django_settings_secret_key {{ '}}' }}

ALLOWED_HOSTS={{ '{{' }} django_settings_allowed_hosts {{ '}}' }}

{% if cookiecutter.db == 'postgresql' %}DATABASE_HOST={{ '{{' }} django_database_host {{ '}}' }}
DATABASE_PORT={{ '{{' }} django_database_port {{ '}}' }}
DATABASE_NAME={{ '{{' }} django_database_name {{ '}}' }}
DATABASE_USER={{ '{{' }} django_database_user {{ '}}' }}
DATABASE_PASSWORD={{ '{{' }} django_database_password {{ '}}' }}{% else %}
DATABASE_NAME={{ '{{' }} django_database_name {{ '}}' }}{% endif %}
{% if cookiecutter.cache == 'redis' or cookiecutter.use_celery == 'y' or cookiecutter.use_channels == 'y' %}
REDIS_HOST={{ '{{' }} django_settings_redis_host {{ '}}' }}
REDIS_PORT={{ '{{' }} django_settings_redis_port {{ '}}' }}
{% endif %}
EMAIL_HOST={{ '{{' }} django_settings_email_host {{ '}}' }}
EMAIL_PORT={{ '{{' }} django_settings_email_port {{ '}}' }}
EMAIL_HOST_USER={{ '{{' }} django_settings_email_host_user {{ '}}' }}
EMAIL_HOST_PASSWORD={{ '{{' }} django_settings_email_host_password {{ '}}' }}
DEFAULT_FROM_EMAIL={{ '{{' }} django_settings_from_email {{ '}}' }}

RUN_SELENIUM_TESTS=False
