{{ '{%' }} if page_obj.has_other_pages {{ '%}' }}
  <ul class="pagination pagination-sm">
    {{ '{%' }} if page_obj.has_previous {{ '%}' }}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ '{{' }} page_obj.previous_page_number {{ '}}' }}">Previous</a></li>
    {{ '{%' }} endif {{ '%}' }}
    <li class="page-item active"><a class="page-link" href="?page={{ '{{' }} page_obj.number {{ '}}' }}">{{ '{{' }} page_obj.number {{ '}}' }}</a></li>
    {{ '{%' }} if page_obj.has_next {{ '%}' }}
      <li class="page-item"><a class="page-link" href="?page={{ '{{' }} page_obj.next_page_number {{ '}}' }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ '{{' }} page_obj.paginator.num_pages {{ '}}' }}">Last &raquo;</a></li>
    {{ '{%' }} endif {{ '%}' }}
  </ul>
{{ '{%' }} endif {{ '%}' }}
