<!DOCTYPE html>

{{ '{%' }} load static bootstrap4 {{ '%}' }}
{{ '{%' }} load render_bundle from webpack_loader {{ '%}' }}
{% if cookiecutter.use_wagtail == 'y' %}{{ '{%' }} load slugurl from wagtailcore_tags {{ '%}' }}{% endif %}

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="{{ '{%' }} static 'images/favicon.png' {{ '%}' }}">

  <title>{{ '{%' }} block title {{ '%}' }}{{ cookiecutter.project_name }}{{ '{%' }} endblock {{ '%}' }}</title>

  {{ '{%' }} render_bundle 'vendors~index' 'css' {{ '%}' }}
  {% if cookiecutter.use_vuejs == 'y' %}{{ '{%' }} render_bundle 'vendors~vueapp' 'css' {{ '%}' }}{% endif %}
  {{ '{%' }} render_bundle 'index' 'css' {{ '%}' }}
  {% if cookiecutter.use_vuejs == 'y' %}{{ '{%' }} render_bundle 'vueapp' 'css' {{ '%}' }}{% endif %}
  {{ '{%' }} render_bundle 'mainapp' 'css' {{ '%}' }}

  {{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

  {{ '{%' }} block extra-head {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

  {{ '{%' }} if google_analytics {{ '%}' }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ '{{' }} google_analytics {{ '}}' }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ '{{' }} google_analytics {{ '}}' }}');
    </script>
  {{ '{%' }} endif {{ '%}' }}
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ '{%' }} url 'index' {{ '%}' }}">{{ cookiecutter.project_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="navbar-nav">
            <li class="nav-item{{ '{%' }} if request.resolver_match.view_name == 'index' {{ '%}' }} active{{ '{%' }} endif {{ '%}' }}"><a class="nav-link" href="{{ '{%' }} url 'index' {{ '%}' }}">Homepage</a></li>{% if cookiecutter.use_wagtail == 'y' %}
            <li class="nav-item{{ '{%' }} if page.slug == '{{ cookiecutter.project_name }}-cms-page' {{ '%}' }} active{{ '{%' }} endif {{ '%}' }}"><a class="nav-link" href="{{ '{%' }} slugurl '{{ cookiecutter.project_name }}-cms-page' {{ '%}' }}">CMS Page</a></li>{% endif %}{% if cookiecutter.use_ecommerce == 'y' %}
            <li class="nav-item{{ '{%' }} if request.resolver_match.view_name == 'store:product-list' {{ '%}' }} active{{ '{%' }} endif {{ '%}' }}"><a class="nav-link" href="{{ '{%' }} url 'store:product-list' {{ '%}' }}">Store</a></li>{% endif %}
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item{{ '{%' }} if request.resolver_match.view_name == 'page1' {{ '%}' }} active{{ '{%' }} endif {{ '%}' }}"><a class="nav-link" href="{{ '{%' }} url 'page1' {{ '%}' }}">Page 1</a></li>
          {{ '{%' }} if user.is_authenticated {{ '%}' }}
            <li class="nav-item dropdown{{ '{%' }} if request.resolver_match.view_name == 'accounts:profile' {{ '%}' }} active{{ '{%' }} endif {{ '%}' }}">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-profile">{{ '{{' }} user.email {{ '}}' }} <span class="caret"></span></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-profile">
                <a class="dropdown-item" href="{{ '{%' }} url 'accounts:profile' {{ '%}' }}">Profile</a>
                <a class="dropdown-item" href="{{ '{%' }} url 'accounts:password-change' {{ '%}' }}">Change Password</a>
                {{ '{%' }} if user.is_staff {{ '%}' }}
                  <a class="dropdown-item" href="{{ '{%' }} url 'admin:index' {{ '%}' }}">Administration</a>{% if cookiecutter.use_wagtail == 'y' %}
                  <a class="dropdown-item" href="{{ '{%' }} url 'wagtailadmin_home' {{ '%}' }}">CMS Administration</a>{% endif %}{% if cookiecutter.use_ecommerce == 'y' %}
                  <a class="dropdown-item" href="{{ '{%' }} url 'store:dashboard' {{ '%}' }}">Store Dashboard</a>{% endif %}
                {{ '{%' }} endif {{ '%}' }}
                <a class="dropdown-item" href="{{ '{%' }} url 'accounts:logout' {{ '%}' }}">Logout</a>
              </div>
            </li>
          {{ '{%' }} else {{ '%}' }}
            <li class="nav-item{{ '{%' }} if request.resolver_match.view_name == 'accounts:login' {{ '%}' }} active{{ '{%' }} endif {{ '%}' }}"><a class="nav-link" href="{{ '{%' }} url 'accounts:login' {{ '%}' }}">Login</a></li>
          {{ '{%' }} endif {{ '%}' }}{% if cookiecutter.use_ecommerce == 'y' %}
            <li class="nav-item dropdown store-cart{{ '{%' }} if request.resolver_match.view_name == 'store:cart-detail' {{ '%}' }} active{{ '{%' }} endif {{ '%}' }}">{{ '{%' }} include "store/cart_content.html" {{ '%}' }}</li>{% endif %}
          }
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ cookiecutter.project_name }}</h1>

          <hr>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {{ '{%' }} if is_debug {{ '%}' }}{{ '{%' }} bootstrap_alert "Development Mode" alert_type='warning' {{ '%}' }}{{ '{%' }} endif {{ '%}' }}

          {{ '{%' }} bootstrap_messages {{ '%}' }}
        </div>
      </div>

      {{ '{%' }} block content {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
    </div>
  </main>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <hr>

          <a href="https://gitlab.com/kjpc-tech/kjpc-django-template/" target="_blank">kjpc-django-template</a>
        </div>
      </div>
    </div>
  </footer>

  {{ '{%' }} render_bundle 'vendors~index' 'js' {{ '%}' }}
  {% if cookiecutter.use_vuejs == 'y' %}{{ '{%' }} render_bundle 'vendors~vueapp' 'js' {{ '%}' }}{% endif %}
  {{ '{%' }} render_bundle 'index' 'js' {{ '%}' }}
  {% if cookiecutter.use_vuejs == 'y' %}{{ '{%' }} render_bundle 'vueapp' 'js' {{ '%}' }}{% endif %}
  {{ '{%' }} render_bundle 'mainapp' 'js' {{ '%}' }}

  {{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

  {{ '{%' }} block extra-body {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
</body>

</html>
