{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}{{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-lg-4">
      <h1>Index Page</h1>

      <p>Start here. End somewhere bigger.</p>

      <p>Icons: <span class="feather-icon align-middle" data-feather="check"></span> <span class="feather-icon align-middle" data-feather="x"></span></p>

      <p>Here is a <strong><span data-toggle="popover" title="Sample Popover" data-content="Sample popover content.">popover</span></strong>.</p>

      <p>Here is a <strong><span data-toggle="tooltip" title="Sample tooltip.">tooltip</span></strong>.</p>
    </div>

    <div class="col-lg-3">
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <h6>Header 6</h6>
      <p>Paragraph</p>
    </div>

    <div class="col-lg-2">
      <p class="text-success"><span class="px-3 bg-success">&nbsp;</span> Success</p>
      <p class="text-warning"><span class="px-3 bg-warning">&nbsp;</span> Warning</p>
      <p class="text-danger"><span class="px-3 bg-danger">&nbsp;</span> Danger</p>
      <p class="text-info"><span class="px-3 bg-info">&nbsp;</span> Info</p>
      <p class="text-primary"><span class="px-3 bg-primary">&nbsp;</span> Primary</p>
      <p class="text-secondary"><span class="px-3 bg-secondary">&nbsp;</span> Secondary</p>
      <p class="text-muted"><span class="px-3">&nbsp;</span> Muted</p>
    </div>

    <div class="col-lg-3">
      <div class="alert alert-success">Success</div>
      <div class="alert alert-warning">Warning</div>
      <div class="alert alert-danger">Danger</div>
      <div class="alert alert-info">Info</div>
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

